  /* background-image: url(${direcions});
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 150px;
  display: flex;
  align-self: flex-end;
  margin-top: 2rem;

  } */

  .movement-arrows {
    background-image: url(../../Assets/all-direction-arrows-road-sign-isolated-24501039.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 150px;
    display: flex;
    align-self: flex-end;
    margin-top: 2rem;
  }

  .arrow-div {
    flex-grow: 1;
  }
  .arrow-div:hover {          
      cursor: pointer;    
  }